---
export interface Props {
  posts: {
    slug: string
    title: string
    date: Date
  }[]
}

const { posts } = Astro.props
---

<section class="m-auto max-w-xl space-y-6">
  {
    posts.map(({ slug, title, date }) => {
      const dateTime = new Date(date).toLocaleDateString()
      return (
        <article>
          <a
            href={slug}
            class:list={[
              'ml-4 box-border block rounded-sm p-1',
              'focus-visible::opacity-100 opacity-90 hover:opacity-100 dark:opacity-80',
              'flex flex-col',
              'transition-all',
            ]}
          >
            <h2
              title={title}
              class="truncate text-xl font-medium tracking-wide"
            >
              {title}
            </h2>
            <time
              class="text-sm opacity-75 dark:opacity-80"
              datetime={dateTime}
            >
              {dateTime}
            </time>
          </a>
        </article>
      )
    })
  }
</section>
