---
export interface Props {
  posts: {
    slug: string
    title: string
    date: Date
  }[]
}

const { posts } = Astro.props
---

<section class="ma max-w-xl flex flex-col gap-6">
  {
    posts.map(({ slug, title, date }) => {
      const dateTime = new Date(date).toLocaleDateString()
      return (
        <article>
          <a
            href={slug}
            class:list={[
              'block box-border rounded-sm ml-4 p-1',
              'op75 dark:op80 focus:op100 hover:op100',
              'flex flex-col',
              'transition-all',
            ]}
          >
            <h2 title={title} class="truncate text-xl font-medium tracking-wide">{title}</h2>
            <time class="text-sm op75 dark:op80" datetime={dateTime}>{dateTime}</time>
          </a>
        </article>
      )
    })
  }
</section>
