---
export interface Props {
  posts: {
    slug: string
    title: string
    date: Date
  }[]
}

const { posts } = Astro.props
---

<section class="mx-auto max-w-xl space-y-6">
  {
    posts.map(({ slug, title, date }) => {
      const dateTime = new Date(date).toLocaleDateString()
      return (
        <article>
          <a
            href={slug}
            class:list={[
              'ml-4 block rounded-sm p-1',
              'text-foreground/80 focus-visible:text-foreground hover:text-foreground',
              'block',
              'transition-colors',
            ]}
          >
            <h2
              title={title}
              class="truncate text-lg tracking-wide"
            >
              {title}
            </h2>
            <time
              class="text-sm text-foreground/75"
              datetime={dateTime}
            >
              {dateTime}
            </time>
          </a>
        </article>
      )
    })
  }
</section>
