---
import { type CollectionEntry } from 'astro:content'

interface Post extends Pick<CollectionEntry<'blog'>, 'data'> {
  slug: string
}

export interface Props {
  posts: Post[]
}

const { posts } = Astro.props

const postsByYear = groupPostsByYear(posts)

function groupPostsByYear(posts: Post[]) {
  const postsOfYearMap: Record<number, Post[]> = {}

  for (const post of posts) {
    const year = post.data.pubDate.getFullYear()

    if (!year) continue

    if (!postsOfYearMap[year]) {
      postsOfYearMap[year] = []
    }

    postsOfYearMap[year].push(post)
  }

  const postsOfYearEntries = Object.entries(postsOfYearMap).sort(
    (a, b) => Number(b[0]) - Number(a[0]),
  )

  const result = postsOfYearEntries.map(([year, posts]) => ({ year, posts }))

  return result
}
---

<div class="mx-auto max-w-xl">
  {
    postsByYear.map(({ year, posts }) => (
      <section class="relative py-4">
        <h2 class="year-marker pointer-events-none absolute top-0 left-0 text-4xl text-transparent opacity-50 select-none">
          {year}
        </h2>
        <ul class="space-y-6">
          {posts.map(({ slug, data: { title, pubDate } }) => {
            const dateTime = new Date(pubDate).toLocaleDateString()
            return (
              <article>
                <a
                  href={slug}
                  class:list={[
                    'ml-2 block rounded-sm px-1',
                    'text-foreground/90 hover:text-foreground focus-visible:text-foreground',
                    'block',
                    'transition-colors',
                  ]}
                >
                  <h3 title={title} class="truncate text-base tracking-wide">
                    {title}
                  </h3>
                  <time
                    class="text-foreground/60 text-xs sm:text-sm"
                    datetime={dateTime}
                  >
                    {dateTime}
                  </time>
                </a>
              </article>
            )
          })}
        </ul>
      </section>
    ))
  }
</div>
